#images p{
  position: relative;
  height: 380px;
  margin-left: 700px;
}
h1{
  display: flex;
  justify-content: center;
}
#typo .inner {
  display: flex;
  justify-content: center;
}
#images p strong{
  opacity: 1;
  font-size: 220px;
}
